# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv 환경 변수 파일
**/.env

# Docker
**/.docker/

# Optional (백엔드 빌드 시 생성된 DB 관련 파일들)
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm

# Vite 관련
**/dist/
**/.vite/